<div class="container">
  <div class="row my-5">
    <div class="col-sm-12 col-md-6">
      <div class="col p-5">
        <img src="../../../assets/photos/product1.jpg" class="img-fluid"/>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <div class="text-center my-5">
        <h2>
          <b>Cookie Dough Flavors</b>
        </h2>
        <br/>
          <h3>
            Chocolate Chip
          </h3>
          <h3>
            Peanut Butter & Dough
          </h3>
          <h3>
            Classic (Plain)
          </h3>
          <h3>
            Cookies N' Cream
          </h3>
          <h3>
            Sugar Cookie
          </h3>
          <h3>
            Lemon Sugar Cookie
          </h3>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-sm-12 col-md-6">
      <div class="text-center my-5">
        <h2>
          <b>Specialties</b>
        </h2>
        <br/>
        <h3>
          Cookie Dough Taco
        </h3>
        <h3>
          Ice Cream Cookie Sandwich
        </h3>
        <h3>
          Fried Cookie Dough
        </h3>
        <h3>
          Cookie Dough & Ice Cream Sundae
        </h3>
        <h3>
          Cookie Dough Milkshake
        </h3>
        <h3>
          I Want It All Sampler Plate
        </h3>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="col p-5">
        <img src="../../../assets/photos/product2.jpg" class="img-fluid"/>
      </div>
    </div>
  </div>
</div>
