<div class="container">
  <div class="row">
    <div class="col text-center">
      <!-- locations-page works! -->
      <div class="entry-content">
        <div class="col-sm-12"><iframe loading="lazy" style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3303.743817069119!2d-118.34260328445895!3d34.1017027225688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf1fd5aa286d%3A0x92a4ddad2407b8f2!2sCookie%20Dough%20Dreams!5e0!3m2!1sen!2sus!4v1630092614989!5m2!1sen!2sus" width="600" height="450" allowfullscreen="allowfullscreen"></iframe></div>
<div class="col-sm-12">
    </div>
  </div>
</div>
