<!-- <p>about-us-page works!</p> -->

<div class="container">
  <div class="row my-2">
    <div class="col p-5">
      <img src="../../../assets/photos/dough-sisters.jpg" class="img-fluid"/>
    </div>
    <div class="col p-5 text-center">
      <h5>
        This sister duo is here to bring you the ultimate cookie dough experience! Right here in the heart of Burbank, where all your EDIBLE cookie dough dreams will come true… and yes, we said EDIBLE COOKIE DOUGH! Yum!!. Who knew all of those moments sneaking bites of dough while your mom was baking, or waking up in the middle of the night to nibble on a cookie dough tube would turn into a business! Our vision was not only to bring to light these fantastic treats, but also to make it available to others with allergies, food sensitivities, or if you just want to try something new! We have vegan, sugar free, and gluten free options! But we didn’t just stop there. Not only can you eat this dough raw, you can also take your favorite flavors home and bake our dough into a sweet, crunchy treat! Stop by for a quick bite, in our original Burbank store, or our new Hollywood location, on Hollywood Blvd to be transported back to a simpler time.
      </h5>

    </div>
  </div>
</div>

